* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nunito";
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

html {
    background-color: #FAFAF9;
    font-size: 1rem;

    @media screen and (max-width: 48rem) {
        font-size: 0.875rem;
    }

    @media screen and (max-width: 26.5625rem) {
        font-size: 0.625rem;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
}

.main-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-container {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    position: fixed;
    z-index: 99999999;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-menu-container {
    display: flex;
    row-gap: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 60px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 99999999999;
}

.modal {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    inset: 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 1;
    transition: .3s;
}

.modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: rgb(53 67 88 / 90%);
    cursor: pointer;
}

.modal-content {
    width: 100%;
    max-width: 600px;
    position: relative;
    background-color: #fff;
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: -20%;
    background-color: #fff;
    opacity: 0.8;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 0.4rem;
    z-index: 2000;
    transition: 0.4s;
}

.back-to-top-icon {
    color: #000;
}

.show-back-to-top {
    bottom: 3rem;
}

/* For large devices */
@media screen and (max-width: 992px) {
    .back-to-top {
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }

    .back-to-top-icon {
        font-size: 1.25rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .show-back-to-top {
        bottom: 4rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .back-to-top {
        right: 1rem;
    }
}