* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nunito";
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hero-img-animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

html {
    background-color: #FAFAF9;
    font-size: 1rem;

    @media screen and (max-width: 48rem) {
        font-size: 0.875rem;
    }

    @media screen and (max-width: 26.5625rem) {
        font-size: 0.625rem;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    min-height: 100vh;
}

.main-container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.navbar-container {
    max-width: 1400px;
    /* margin: auto; */
    width: 100%;
    align-items: center;
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-menu-container {
    display: flex;
    row-gap: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 60px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

/* Hero Section */

.hero-img {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(53 67 88 / 30%);
    transition: opacity 1000ms linear 0s;
    position: relative;
    justify-self: center;
    width: 600px;
    height: 400px;
    animation: hero-img-animate 8s ease-in-out infinite 1s;
}

.country-name {
    position: absolute;
    z-index: 99;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.top-left {
    top: 10px;
    left: 0px;
}

.top-right {
    top: 10px;
    right: 0px;
}

.bottom-left {
    bottom: 10px;
    left: 0px;
}

.bottom-right {
    bottom: 10px;
    right: 0px;
}

/* Modals  */

.modal {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    inset: 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 1;
    transition: .3s;
}

.modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: rgb(53 67 88 / 90%);
    cursor: pointer;
}

.modal-content {
    width: 100%;
    max-width: 600px;
    position: relative;
    background-color: #fff;
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

/* Back to top  */

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: -20%;
    background-color: #fff;
    opacity: 0.8;
    padding: 0.5rem;
    border: 1px solid #2E2C34;
    border-radius: 0.4rem;
    z-index: 2024;
    transition: 0.4s;
}

.back-to-top-icon {
    color: #2E2C34;
}

.show-back-to-top {
    bottom: 3rem;
}

/* conatct us  */

.form-input {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 4px;
    width: 100%;
}

.form-input label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #2E2C34;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 900;
    opacity: 0.7;
}

.form-input input,
.form-input .input-div {
    padding: 0.65rem 1rem;
    border-bottom: 1px solid #667085 !important;
    width: 100%;
    background: transparent !important;
    outline: 0;
}

.form-input input {
    padding: 0;
    border: 0;
    background: transparent !important;
}

.form-input .input-div:focus,
.form-input .input-div:focus-within,
.form-input input:focus,
.form-input input:focus-within {
    background: transparent !important;
    border-bottom: 1px solid #2E2C34 !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 0 #0000;
}

.contact-form-area {
    height: 11rem;
}

.contact-form-area textarea {
    resize: none;
    padding: 0.65rem 1rem;
    border: 1px solid #667085;
    border-radius: 0.5rem;
    width: 100%;
    background: transparent;
    outline: 0;
}

.contact-form-area textarea:focus,
.contact-form-area textarea:focus-within {
    border: 1px solid #2E2C34;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 0 #0000;
}

.is-danger {
    border: 2px solid red !important;
}

.help {
    position: absolute;
    bottom: -24px;
    right: 0;
    color: red;
}

/* resources */
/* CustomDiv Styles */
.custom-div {
    color: #232A30;
    width: 100%;
}

.custom-div section {
    margin-bottom: 3.5rem;
}

.custom-div section .heading {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    color: #232A30;
    margin-bottom: 1.5rem;
}

.custom-div section .subsection h6 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 1rem;
    color: #232A30;
}

.custom-div section .subsection span {
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}

.custom-div section .subsection li {
    font-size: 17px;
    padding: 12px 4px;
    font-weight: 400;
    line-height: 25.5px;
}


@media (max-width: 1024px) {
    .custom-div {
        margin-bottom: 1.5rem;
    }

    .custom-div h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        line-height: 1.25;
    }

    .custom-div ul li {
        /* line-height: 1.5; */
        margin-bottom: 0.25rem;
        padding-left: 0.5rem;
    }
}

/* For large devices */
@media screen and (max-width: 992px) {
    .back-to-top {
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }

    .back-to-top-icon {
        font-size: 1.25rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .show-back-to-top {
        bottom: 4rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .back-to-top {
        right: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .hero-img {
        height: 300px;
        width: 500px;
        box-shadow: inset 0 0 0 8px rgb(53 67 88 / 30%);
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .hero-img {
        width: 400px;
        box-shadow: inset 0 0 0 6px rgb(53 67 88 / 30%);
    }
}

/* For small devices */
@media screen and (max-width: 420px) {
    .hero-img {
        height: 240px;
        width: 280px;
    }
}